<div class="row" style="margin-top: 70px">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="thumbnail">
              <img src="https://www.visitdubai.com/-/media/images/articles/dubai%20water%20canal/hero%20updated/dubai-water-canal-hero-desktop.jpg" alt="">

             <div class="panel">
               <div style="float: left"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>&nbsp&nbsp<span>367</span></div>
               <div style="float: right"><a href="#"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a></span></div>
             </div>

            </div>
            <h4>Post Title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#">Author Name</a>
            <p>Post Date</p>
        </div>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
           <!-- <img src="http://cdn.blessthisstuff.com/imagens/stuff/img_liquid_image_hd_video_mask.jpg" alt=""> -->
           <h1>Most Liked</h1>
           <div class="mostliked"><a href="#">sunt in culpa qui officia deserunt</a></div>
           <div class="mostliked"><a href="#">sunt in culpa qui officia deserunt</a></div>
           <div class="mostliked"><a href="#">sunt in culpa qui officia deserunt</a></div>
           <div class="mostliked"><a href="#">sunt in culpa qui officia deserunt</a></div>
           <div class="mostliked"><a href="#">sunt in culpa qui officia deserunt</a></div>

        </div>
      </div>



<!-- >>>>>>>>>display posts in index page>>>>>>>>>>> -->
<div class="container-fluid">


  <h3>Posts</h3>

  <div class="row">
          <% @posts.each do |post| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
              <img class="img-responsive" src= "<%= post.image %>">

              <div class="panel">
                  <div style="float: left"><a href="#">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>&nbsp&nbsp<span>367</span>
                  </div>
                  <div style="float: right">
                    <a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    </a>
                  </div>
                </div>

            </div>
             <%= link_to post.title, post_path(post) %>
          </div>
            <% end  %>
    </div>
</div>


<div class="more-articles">
            <a href="#">More Articles</a>
          </div>
          <br>
          <footer>
            <a href="#"><i class="fa fa-envelope-o fa-4x social-mediaspace" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-official fa-4x social-mediaspace" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram fa-4x social-mediaspace" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-medium fa-4x social-mediaspace" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-4x social-mediaspace" aria-hidden="true"></i></a>
           </footer>
